#cat6 img{
    position: relative;
    left: 20vw; /*1vw is 1% of the width of the viewport*/
    top: 10vh;
    z-index: 1;
}

#cat7 img{
    top: 10vh;
    right: 0px;
    opacity: 0.9;
    z-index: 3;
}

canvas{
    position: fixed;
    top: 0px;
}